.center-horizontal {
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #60606E;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header,
.main,
.footer {
  width: 1300px;
}

.header {
  background: no-repeat center url("./assets/img/header-bg-light.png");
  height: 500px;
  padding: 40px 80px 0px 80px;
  text-transform: uppercase;
}
.header__top-line {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-menu {
  width: 30px;
  height: 20px;
  transition: all 0.3s;
}
.header-menu:hover > .header-menu__item {
  cursor: pointer;
  border-bottom: 1px solid #7beec7;
}
.header-menu__item {
  width: 100%;
  border-bottom: 1px solid #60606E;
  margin-bottom: 6px;
}
.header-menu__item:nth-of-type(1) {
  width: 31px;
}
.header-menu__item:nth-of-type(2) {
  width: 15px;
}
.header-menu__item:nth-of-type(3) {
  width: 23px;
  margin-bottom: 0;
}
.header__main-content {
  margin-top: 210px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header__main-header {
  margin-bottom: 28px;
  font-size: 36px;
}

.main {
  padding-top: 150px;
}
.main__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}
.main__service {
  margin-bottom: 150px;
}
.main__pricing {
  margin-bottom: 119px;
}
.main__support {
  padding: 50px 83px;
  background-color: #7beec7;
  display: flex;
}

.about__header-wrapper {
  width: fit-content;
  position: relative;
}
.about__header {
  margin-bottom: 29px;
  font-size: 30px;
  text-transform: uppercase;
}
.about__short-description {
  margin-bottom: 100px;
  width: 717px;
}
.about__long-description {
  display: flex;
}
.about__icon-base {
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 16px;
}

.long-description__text {
  margin-bottom: 48px;
}
.long-description__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.long-description__item {
  margin-bottom: 15px;
}
.long-description__item-img {
  line-height: 11px;
  height: 11px;
  width: 11px;
  margin-right: 9px;
}
.long-description__img {
  margin-left: 36px;
}

.service__list {
  display: flex;
  justify-content: space-between;
}
.service__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service__header {
  margin-bottom: 15px;
}
.service__img {
  margin-bottom: 15px;
}
.service__description {
  width: 223px;
  text-align: center;
  line-height: 2;
}
.service__icon-base {
  position: absolute;
  top: 25px;
  left: 75px;
  z-index: -1;
}
.service__icon {
  height: fit-content;
  width: 53px;
}
.service__icon_bulb {
  width: 53px;
}

.pricing__description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.pricing__description-header-wrapper {
  width: fit-content;
  position: relative;
}
.pricing__description-header {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 29px;
}
.pricing__icon-base {
  position: absolute;
  top: 17px;
  z-index: -1;
}
.pricing__description {
  width: 717px;
}
.pricing__list {
  display: flex;
  justify-content: space-between;
}
.pricing__item {
  padding: 40px 30px;
  transition: all 0.3s;
  position: relative;
}
.pricing__item_top-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  width: 100%;
  background: #7beec7;
}
.pricing__item_top-corner {
  position: absolute;
  top: 0;
  right: 0;
  height: 16px;
  width: 16px;
  background: linear-gradient(45deg, transparent 0%, transparent 49%, #7beec7 50%, #7beec7 100%);
}
.pricing__item:hover {
  box-shadow: 0 0 40px rgba(96, 96, 110, 0.3294117647);
}

.price-item__header {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 17px;
}
.price-item__price {
  color: #fff;
  text-transform: uppercase;
  padding: 9.5px 21.5px;
  background: #7beec7;
  margin-bottom: 49px;
}
.price-item__feature-list {
  margin-bottom: 51px;
}
.price-item__feature-item {
  width: 360px;
  margin-bottom: 15px;
}
.price-item__feature-img {
  height: 11px;
  width: 11px;
  margin-right: 9px;
}
.price-item__btn {
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  padding: 20.5px 19.5px;
  background: #7beec7;
  transition: all 0.3s;
}
.price-item__btn:hover {
  cursor: pointer;
  color: #60606E;
  box-shadow: 2px 2px 4px #60606E;
}

.support__subscribe {
  margin-left: 98px;
  padding: 20px 25px;
  background-color: #fff;
}

.apply__header {
  width: 487px;
  line-height: 1.5;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 29px;
}
.apply__btn {
  border: none;
  outline: none;
  padding: 20px 32px;
  text-transform: uppercase;
  font-weight: bolder;
  background-color: #fff;
  color: #7beec7;
  transition: all 0.3s;
}
.apply__btn:hover {
  cursor: pointer;
  color: #60606E;
  box-shadow: 2px 2px 4px #60606E;
}

.subscribe__header {
  width: 336px;
  line-height: 1.4;
  font-size: 24px;
  text-transform: uppercase;
}
.subscribe__text {
  margin-bottom: 29px;
}
.subscribe__email-wrapper {
  display: flex;
}
.subscribe__email-input {
  height: 51px;
  padding: 21px 19px;
  flex-grow: 1;
  border: 1px solid #CDCDCD;
  outline: none;
}
.subscribe__email-input::placeholder {
  color: #CDCDCD;
  text-transform: uppercase;
}
.subscribe__email-input:focus {
  border: 1px solid #60606E;
}
.subscribe__email-btn {
  outline: none;
  border: none;
  height: 51px;
  width: 136px;
  text-transform: uppercase;
  font-weight: bolder;
  background: #7beec7;
  color: #fff;
  transition: all 0.3s;
}
.subscribe__email-btn:hover {
  cursor: pointer;
  color: #60606E;
  box-shadow: 2px 2px 4px #60606E;
}

.footer {
  padding: 49px 82px;
}
.footer__top-line {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  color: #9A9A9A;
}
.footer__nav-list {
  display: flex;
}
.footer__nav-item_dash {
  margin: 0 15px;
}
.footer__nav-item_link {
  transition: all 0.3s;
}
.footer__nav-item_link:hover {
  cursor: pointer;
  color: #7beec7;
}
.footer__social-links {
  margin-top: 29px;
  display: flex;
  justify-content: flex-end;
}
.footer__social-icon {
  margin-left: 15px;
  height: 16px;
  width: fit-content;
  fill: #999999;
  transition: all 0.3s;
}
.footer__social-icon:hover {
  cursor: pointer;
  fill: #7beec7;
}

/*# sourceMappingURL=style.css.map */
