// --------------------------------------------------- VARIABLES --------------------------------------------------- //
$content-width: 1300px;
$color-text:#60606E;
$background-main: #7beec7;

// --------------------------------------------------- UTIL CLASSES --------------------------------------------------- //
.center-horizontal {
  margin: 0 auto;
}

// --------------------------------------------------- BASIC --------------------------------------------------- //
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: $color-text;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

// --------------------------------------------------- HEADER --------------------------------------------------- //

.header,
.main,
.footer {
  width: $content-width;

}

.header {
  background: no-repeat center url('./assets/img/header-bg-light.png');
  height: 500px;
  padding: 40px 80px 0px 80px;
  text-transform: uppercase;

  &__top-line {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-menu {
    width: 30px;
    height: 20px;

    &__item {
      width: 100%;
      border-bottom: 1px solid $color-text;
      margin-bottom: 6px;

      &:nth-of-type(1) {
        width: 31px;
      }

      &:nth-of-type(2) {
        width: 15px;
      }

      &:nth-of-type(3) {
        width: 23px;
        margin-bottom: 0;
      }
    }
  }

  &__main-content {
    margin-top: 210px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__main-header {
    margin-bottom: 28px;
    font-size: 36px;
  }
}

// --------------------------------------------------- MAIN --------------------------------------------------- //

// --------------------------------------------------- ABOUT --------------------------------------------------- //

.main {
  padding-top: 150px;

  &__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
  }

  &__service {
    margin-bottom: 150px;
  }

  &__pricing {
    margin-bottom: 119px;
  }

  &__support {
    padding: 50px 83px;
    background-color: $background-main;
    display: flex;
  }
}

.about {
  &__header-wrapper {
    width: fit-content;
    position: relative;
  }

  &__header {
    margin-bottom: 29px;
    font-size: 30px;
    text-transform: uppercase;
  }

  &__short-description {
    margin-bottom: 100px;
    width: 717px;
  }

  &__long-description {
    display: flex;
  }

  &__icon-base {
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 16px;
  }
}

.long-description {
  &__text {
    margin-bottom: 48px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__item {
    margin-bottom: 15px;
  }

  &__item-img {
    line-height: 11px;
    height: 11px;
    width: 11px;
    margin-right: 9px;
  }

  &__img {
    margin-left: 36px;
  }
}

// --------------------------------------------------- SERVICE --------------------------------------------------- //

.service {

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    margin-bottom: 15px;
  }

  &__img {
    margin-bottom: 15px;
  }

  &__description {
    width: 223px;
    text-align: center;
    line-height: 2;
  }

  &__icon-base {
    position: absolute;
    top: 25px;
    left: 75px;
    z-index: -1;
  }

  &__icon {
    height: fit-content;
    width: 53px;

    &_bulb {
      width: 53px;
    }
  }
}

// --------------------------------------------------- PRICING --------------------------------------------------- //

.pricing {

  &__description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }

  &__description-header-wrapper {
    width: fit-content;
    position: relative;
  }

  &__description-header {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 29px;
  }

  &__icon-base {
    position: absolute;
    top: 17px;
    z-index: -1;
  }

  &__description {
    width: 717px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    padding: 40px 30px;
    transition: all .3s;
    position: relative;

    &_top-line {
      position: absolute;
      top: 0;
      left: 0;
      height: 6px;
      width: 100%;
      background: $background-main;
    }

    &_top-corner {
      position: absolute;
      top: 0;
      right: 0;
      height: 16px;
      width: 16px;
      background: linear-gradient(45deg, transparent 0%, transparent 49%, $background-main 50%, $background-main 100%);
    }

    &:hover {
      box-shadow: 0 0 40px #60606e54;
    }
  }
}

.price-item {
  &__header {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 17px;
  }

  &__price {
    color: #fff;
    text-transform: uppercase;
    padding: 9.5px 21.5px;
    background: $background-main;
    margin-bottom: 49px;
  }

  &__feature-list {
    margin-bottom: 51px;
  }

  &__feature-item {
    width: 360px;
    margin-bottom: 15px;


  }

  &__feature-img {
    height: 11px;
    width: 11px;
    margin-right: 9px;
  }

  &__btn {
    border: none;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    padding: 20.5px 19.5px;
    background: $background-main;

    transition: all .3s;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px #60606e54;
    }
  }
}

// --------------------------------------------------- SUPPORT --------------------------------------------------- //

.support {


  &__subscribe {
    margin-left: 98px;
    padding: 20px 25px;
    background-color: #fff;
  }
}

.apply {
  &__header {
    width: 487px;
    line-height: 1.5;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 29px;
  }

  &__btn {
    border: none;
    outline: none;
    padding: 20px 32px;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: #fff;
    color: $background-main;
  }
}

.subscribe {
  &__header {
    width: 336px;
    line-height: 1.4;
    font-size: 24px;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 29px;
  }

  &__email-wrapper {
    display: flex;
  }

  &__email-input {
    height: 51px;
    padding: 21px 19px;
    flex-grow: 1;
    border: 1px solid #CDCDCD;
    outline: none;

    &::placeholder {
      color: #CDCDCD;
      text-transform: uppercase;
    }

    &:focus {
      border: 1px solid $color-text;
    }
  }

  &__email-btn {
    outline: none;
    border: none;
    height: 51px;
    width: 136px;
    text-transform: uppercase;
    font-weight: bolder;
    background: $background-main;
    color: #fff;
  }
}

// --------------------------------------------------- FOOTER --------------------------------------------------- //

.footer {
  padding: 49px 82px;

  &__top-line {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: #9A9A9A;
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    &_dash {
      margin: 0 15px;
    }

    &_link {
      transition: all .3s;

      &:hover {
        cursor: pointer;
        color: $background-main;
      }
    }
  }


  &__social-links {
    margin-top: 29px;
    display: flex;
    justify-content: flex-end;
  }

  &__social-icon {
    margin-left: 15px;
    height: 16px;
    width: fit-content;
    fill: #999999;

    transition: all .3s;
    &:hover {
      cursor: pointer;
      fill: $background-main;
    }
  }
}