@import '../shared/styles/vars.scss';

:host {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;

  padding: 1rem;
  border-radius: 0 0 0 .5rem;
  color: $color-text;
  background-color: $color-dark;
}

.weather {
  &__title {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }

  &__list {
    padding: 0 1rem;
    max-height: 40vh;
    overflow-y: auto;
  }

  &__item {
    font-size: 1.2rem;
    padding: .5rem 1rem;
    border: 1px solid $color-attract;
  }
}