.title {
  text-align: center;
}

.form {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}

.select-wrapper {
  display: flex;
  margin-bottom: 10px;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
}

select {
  height: fit-content;
  margin-right: 10px;
}

select:last-of-type {
  margin-right: 20px;
}

button {
  width: fit-content;
  margin-bottom: 10px;
}

button:last-of-type {
  margin-bottom: 0;
}

main {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}

.table-wrapper {
  max-height: 70vh;
  overflow-y: auto;

}

h3 {
  margin: 0 0 10px 0;
}

table {
  border: 1px solid #212121;
  border-collapse: collapse;
}

th {
  padding: 10px 0;
  color: #fafafa;
  border: 1px solid #fafafa;
  background-color: #212121;
}

td {
  border: 1px solid #212121;
  max-width: 15vw;
  padding: 5px 20px;
  word-break: break-all;
}