<div class="main__place-list-wrapper" *ngIf="dataService.isData">
  <cdk-virtual-scroll-viewport [itemSize]="5">
    <table class="main__place-list">
      <ng-container>
        <tr
          *cdkVirtualFor="
            let place of dataService.places
              | filterPlaces: filterPS.filterStr
              | sortPlaces: sortPS.sortType:sortPS.isReversed
          "
        >
          <td class="place-list__item">
            <app-place
              [place]="place"
              [id]="place.placeName + place.placeLocation"
            ></app-place>
          </td>
        </tr>
      </ng-container>
    </table>
  </cdk-virtual-scroll-viewport>
</div>
