@import '../../shared/styles/vars.scss';

app-place {
  display: flex;
  justify-content: space-between;
}


.main {
  &__place-list {
    width: 60vw;
  }
}

.place-list {
  &__item {
    padding: 2vh 1.5vw;
    background-color: $color-dark;

    border-radius: 1rem;
    margin-bottom: 1vh;
  }
}

th {
  color: $color-attract;
  font-size: 100%;
}

td {
  color: $color-text;
}