@import '../../shared/styles/vars.scss';

app-place {
  display: flex;
  justify-content: space-between;
}

.main__place-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place-list {
  &__item {
    width: 60vw;
    padding: 2vh 1.5vw;
    background-color: $color-dark;
    color: $color-light;
    border-radius: 1rem;
    margin-bottom: 1vh;
  }
}