<!-- <div class="main__place-list-wrapper" *ngIf="dataService.isData">
  <cdk-virtual-scroll-viewport [itemSize]="5">
    <table class="main__place-list">
      <ng-container>
        <tr
          *cdkVirtualFor="
            let place of dataService.places
              | filterPlaces: filterPS.filterStr
              | sortPlaces: sortPS.sortType:sortPS.isReversed
          "
        >
          <td class="place-list__item">
            <app-place
              [place]="place"
              [id]="place.placeName + place.placeLocation"
            ></app-place>
          </td>
        </tr>
      </ng-container>
    </table>
  </cdk-virtual-scroll-viewport>
</div> -->

<div
  class=" main__place-list-wrapper"
  *ngIf="dataService.isData"
>
  <table class="main__place-list mat-elevation-z8" mat-table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td  mat-cell *matCellDef="let place">
        {{ place.placeName }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>Country</th>
      <td  mat-cell *matCellDef="let place">
        {{ place.placeLocation }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let place">
        {{ place.placeRegisterDate }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="place-list__item" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Pick your place"
  >
  </mat-paginator>
</div>
