.manager{
  &__filter{
    padding: .5rem 1rem;
    width: 30rem;
    font-size: 1.4rem;
    border-radius: .2rem;
    background-color: #FAF7FF;
  }
  &__filter-label{
    margin-right: 1.5rem;
  }
}