<div class="about about__wrapper">
  <h2 class="about__header">
    Best place advisor is your best helper in findig a place!
  </h2>
  <p class="about__text">
    With help of best advisor you find a best place where you can easily achieve
    your goal.
  </p>
  <p class="about__text">
    Whether you wish to eat or to relax, to travel or to go camping it doesn't
    matter, moreover here you can find places with naturally healing effect.
  </p>
  <p class="about__text">
    Best place advisor can help you to find a place where you can easily fulfill
    your desires
  </p>
</div>