@import '../../../shared/styles/vars.scss';

.manager__create-btn {
  font-size: 1.5rem;
  padding: .8rem 2rem;
  border-radius: .2rem;
  background-color: $color-light;
  color: $color-dark;
  transition: all .25s;

  &:hover {
    cursor: pointer;
    background-color: $color-light-d-10;
  }
}