@import '../../../shared/styles/vars.scss';

.manager__create-btn {
  height: 4rem;
  line-height: 4rem;
  width: 15rem;
  font-size: 1.5rem;
  border-radius: .2rem;
  background-color: $color-light;
  color: $color-dark;
  transition: all .25s;

  &:hover {
    cursor: pointer;
    background-color: $color-light-d-10;
  }
}
