.place-form {
  &__city-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
  }

  &__city-label {
    margin-bottom: .5vh;
  }

  &__city {
    width: 30rem;
    padding: .5rem 1.5rem;
    background-color: #FAF7FF;
    border: 1px solid lighten(#373544, 40%);
    border-radius: .2rem;
    
    &:focus {
      border: 1px solid #373544;
    }
  }
}