@import '../../../shared/styles/vars.scss';

.place-item__btn_edit {
  padding: .5rem 1rem;
  border-radius: .2rem;
  margin-bottom: 1rem;
  background-color: $color-light;
  color: $color-dark;
  transition: all .25s;

  &:hover {
    cursor: pointer;
    background-color: $color-light-d-10;
  }
}