@import '../../../shared/styles/vars.scss';

.place-form {
  &__name-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
  }

  &__name-label {
    margin-bottom: .5vh;
  }

  &__name {
    padding: .5rem 1.5rem;
    background-color: $color-light;
    border: 1px solid $color-dark-l-20;
    border-radius: .2rem;

    &:focus {
      border: 1px solid $color-dark;
    }
  }
}