.main__place-form {
  width: 40vw;
  padding: 3vh 1vw;
  display: flex;
  justify-content: space-between;
  border: 1px solid #212121;
  background-color: lighten(#8685EF, 20%);
  border-radius: 1rem;
}

.place-form {
  &__controls {
    margin-top: 2vh;
    display: flex;
  }

  &__btn {
    height: fit-content;
    padding: .5rem 1.5rem;
    border-radius: .2rem;
    background-color: #FAF7FF;
    border: 1px solid lighten(#373544, 40%);
    display: block;
    transition: all .25s;

    &:first-of-type {
      margin-right: 1rem;
    }

    &:hover {
      cursor: pointer;
      border: 1px solid #373544;
    }
  }
}