<form class="main__place-form place-form">
  <div class="place-form__data-short">
    <app-place-name></app-place-name>
    <app-place-country></app-place-country>
    <app-place-city></app-place-city>
    <app-place-coords></app-place-coords>
  </div>
  <div class="place-form__data-long">
    <app-place-description></app-place-description>
    <div class="place-form__controls">
      <button type="submit" class="place-form__btn">save</button>
      <button type="reset" class="place-form__btn">cancel</button>
    </div>
  </div>
</form>
