<cdk-accordion>
  <cdk-accordion-item #accordionItem="cdkAccordionItem">
    <div
      class="place-item__info info"
      role="button"
      (click)="accordionItem.toggle()"
    >
      <div class="place-item__row_num-1">
        <h3 class="place-item__header info__item">{{ place.placeName }}</h3>
        <p class="place-item__date">
          created at: {{ place.placeRegisterDate | date: "yyyy/MM/dd" }}
        </p>
      </div>
      <div class="place-item__row_num-2">
        <p class="place-item__location info__item">
          Location: <span class="info__insert">{{ place.placeLocation }},</span>
        </p>
        <div class="place-item__btn-wrapper">
          <app-edit-btn class="place-item__btn" [id]="id"></app-edit-btn>
          <app-delete-btn class="place-item__btn" [id]="id"></app-delete-btn>
        </div>
      </div>
      <div
        class="place-item__row_num-3"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
      >
        <div class="place-item__img-wrapper">
          <img
            class="place-item__img"
            [src]="place.placeImg"
            alt="`${{ place.placeName }} image`"
          />
        </div>
        <p class="place-item__description info__item">
          Description:
          <span class="info__insert">{{ place.placeDescription }}</span>
        </p>
      </div>
      <button class="place-item__more-info" (click)="onClickActive()">
        <span *ngIf="!isActive">More info...</span>
        <span *ngIf="isActive">Less info...</span>
      </button>
    </div>
  </cdk-accordion-item>
</cdk-accordion>