@import '../../../shared/styles/vars.scss';

.place-form {
  &__description-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__description-label {
    margin-bottom: .5vh;
  }

  &__description {
    padding: .5rem 1.5rem;
    background-color: $color-light;
    border-radius: .2rem;
    outline: none;
    overflow-y: auto;

    border: 1px solid $color-dark-l-20;

    &:focus {
      border: 1px solid $color-dark;
    }
  }
}