<nav class="header__nav">
  <ul class="header__nav-list">
    <li class="header__nav-item">
      <a
        [routerLink]="['/place-list', { placeType: 'camping' }]"
        routerLinkActive="active"
        >Camping</a
      >
    </li>
    <li class="header__nav-item">
      <a
        [routerLink]="['/place-list', { placeType: 'relax' }]"
        routerLinkActive="active"
        >Relax</a
      >
    </li>
    <li class="header__nav-item">
      <a
        [routerLink]="['/place-list', { placeType: 'food' }]"
        routerLinkActive="active"
        >Food</a
      >
    </li>
    <li class="header__nav-item">
      <a
        [routerLink]="['/place-list', { placeType: 'travel' }]"
        routerLinkActive="active"
        >Travel</a
      >
    </li>
    <li class="header__nav-item">
      <a
        [routerLink]="['/place-list', { placeType: 'heal' }]"
        routerLinkActive="active"
        >Heal</a
      >
    </li>
  </ul>
</nav>
